<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503697830045-brr2603tu5401ig278hqi35tib4ngq07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503697830045-brr2603tu5401ig278hqi35tib4ngq07</string>
	<key>API_KEY</key>
	<string>AIzaSyDC3VPKkrfMF_AOxzC7qFAuznAt0qZnMfk</string>
	<key>GCM_SENDER_ID</key>
	<string>503697830045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezt.wallpp.hd4k</string>
	<key>PROJECT_ID</key>
	<string>wall-paper-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>wall-paper-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503697830045:ios:6d057cbe2675fbd73d2474</string>
</dict>
</plist>